.backdropShadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}
.errorModal {
  position: fixed;
  top: 35vh;
  left: 10%;
  width: 80%;
  z-index: 10;
  overflow: hidden;
}

.header {
  background-color: #ae0eae;
  padding: 1rem;
}

.header h2 {
  color: #fff;
  margin: 0;
}

.content {
  padding: 1.5rem;
}

.actions {
  padding: 1.2rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .errorModal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
